<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region1"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Bangui Wind Farm</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Bangui Wind Farm.png">
    <div class="title"><h3><b>Bangui Wind Farm, Ilocos Norte</b></h3></div>
  </center>

    <p class="paragraph"> Bangui Wind Farm is a wind farm in Bangui, Ilocos Norte, arranged in a single row stretching along a 9-kilometer shoreline off
    Bangui Bay, facing the West Philippine Sea. </p> <p class="paragraph">The NorthWind Bangui Bay Project is located in the municipality of Bangui,
    Ilocos Norte, Philippines, at the northwest tip of Luzon island. The turbines face the sea from where the prevailing wind blows
    towards the land. Its location along the shore is optimal, due to a lack of windbreaks and limited terrain roughness. <p class="paragraph"> The site
    consists of 20 Vestas Wind Systems stretching 9 kilometers over the shoreline of the bay. The location of the Philippines near the
    Asia-Pacific monsoon belt is ideal for installing wind turbines. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
