<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region4a"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Aguinaldo Shrine</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Aguinaldo Shrine.png">
    <div class="title"><h3><b>Aguinaldo Shrine, Cavite</b></h3></div>
  </center>

    <p class="paragraph"> On June 12, 1898, the independence from Spain was proclaimed from the window of the grand hall. To commemorate the event, now known as "Araw ng Kalayaan" or Independence Day, a national holiday, the
    Philippine flag is raised here by top government officials on June 12 each year. </p> <p class="paragraph"> The shrine is the
    ancestral home of Emilio Aguinaldo, officially the first President of the Philippines, the only president of the First Philippine
    Republic. The house was built in 1845 made from wood and thatch and reconstructed in 1849. Here, Aguinaldo was born on March 22,
    1869. The house is now a museum. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
