<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region4b"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Puerto Galera</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Puerto Galera.png">
    <div class="title"><h3><b>Puerto Galera, Oriental Mindoro</b></h3></div>
  </center>

    <p class="paragraph"> It is mainly accessible from the Southern Luzon gateway port of Batangas by bamboo boats ("bangka") operated by
    local regular operators. </p> <p class="paragraph"> Tourism now represents the core activity of the economy of Puerto Galera, which is well known for its
    beaches, scuba diving and entertainment activities, including "go-go bars". The city and its beaches have also become one of the
    many sites of the Philippines sex tourism industry. </p> <p class="paragraph"> This coastal town has a number of pocket beaches and snorkeling and scuba
    diving spots. The area was designated a Man and Biosphere reserve of UNESCO in 1973 and has some of the most diverse coral reef
    diving in Asia. Since 2001, the marine environment has benefited from a huge reduction in the number of fishermen in the area, as
    they gain higher revenue from tourism activities. </p> <p class="paragraph"> Puerto Galera is included in the list of the "Club of the Most Beautiful Bays
    of the World", and is the only bay in the Philippines to be found on this list. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
