ion-back-button{
    display: block;
 }

ion-icon{
    color: #5260FF;
  }

div.islandgroups{
    color: #5260FF;
}

div.paragraph{
    text-indent: 15px;
    text-align: justify;
}

div.readmore{
    text-align: right;
}