<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="cordillera"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Colors of StoBoSa</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/StoBoSa.png">
    <div class="title"><h3><b>Colors of StoBoSa, Benguet</b></h3></div>
  </center>

    <p class="paragraph"> The paintwork of multiple houses composes the single artwork. The artwork is known as the StoBoSa Hillside
    Homes Artwork, which is also the official designation for the artwork by the municipal government, and is also called simply as the
    Colors of StoBoSa. "StoBoSa" is a portmanteau of the names of the sitios the artwork is situated namely Stonehill, Botiwtiw, and
    Sadjap. </p> <p class="paragraph"> Based on favela paintings of Brazil, the making of the Colors of Stobosa involved the painting of around 150-200
    houses or an area of 18,000 square meters. It is a combination of four designs made by the Tam-Awan Village artists. The designs,
    perceived as easy to make and aesthetically pleasing, were selected from a multitude of designs. The sunflower was chosen as a main
    motif of the artwork since the area used to be a full of the flowering plant. Rainbows also form part of the design. </p> <p class="paragraph"> 520
    people, being residents of the three sitios as well as volunteers, painted the houses. The outlines were applied after the color
    within them were painted. The 2,800 gallons of paint costing ₱2 million used were provided by a local paint firm, Davies Paints,
    while other painting materials were provided by the local government. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
