<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region3"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Mount Pinatubo</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Mount Pinatubo.png">
    <div class="title"><h3><b>Mount Pinatubo, Zambales</b></h3></div>
  </center>

    <p class="paragraph"> Mount Pinatubo's summit before the 1991 eruption was 1,745 meters (now 1,486 meters) above sea level. It is part of a chain of volcanoes which lie along the western side of the island of Luzon called the Zambales Mountains. </p> <p class="paragraph"> Mount Pinatubo is most notorious for its eruption on June 15, 1991, the second-largest terrestrial eruption of
    the 20th century. Complicating the eruption was the arrival of Typhoon Diding, bringing a lethal mix of ash and rain to towns and
    cities surrounding the volcano. </p> <p class="paragraph"> The 1991 caldera afterwards filled with water from annual monsoon rains and a crater lake,
    Lake Pinatubo, was formed. In 1992, a growing lava dome formed an island, which was eventually submerged by the lake. Initially, the
    lake was hot and highly acidic, with a temperature of about 40 °C. Subsequent rainfall cooled and diluted the lake, lowering the
    temperature to 26 °C. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
