<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="articles"></ion-back-button>
        </ion-buttons>
        <ion-title><center>CORDILLERA</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <center><img (click)="sagada()" src="assets/Hanging Coffins.png" /></center>
    <ion-card-header>
      <ion-card-title color="tertiary">Hanging Coffins of Sagada, Mountain Province</ion-card-title>
    </ion-card-header>
    <div class="paragraph">
    <ion-card-content>
      Hanging coffins are one of the funerary practices among the Kankanaey people of Sagada, Mountain Province.
    </ion-card-content>
    </div>
    <div class="readmore">
      <ion-card-content>
        <ion-icon name="arrow-forward" style="width:25px;height:25px" (click)="sagada()"></ion-icon>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <center><img (click)="banaue()" src="assets/Banaue Rice Terraces.png" /></center>
    <ion-card-header>
      <ion-card-title color="tertiary">Banaue Rice Terraces, Ifugao</ion-card-title>
    </ion-card-header>
    <div class="paragraph">
    <ion-card-content>
      The Banaue Rice Terraces are terraces that were carved into the mountains of Banaue, Ifugao, by the ancestors of the Igorot people.
    </ion-card-content>
    </div>
    <div class="readmore">
      <ion-card-content>
        <ion-icon name="arrow-forward" style="width:25px;height:25px" (click)="banaue()"></ion-icon>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-card>
    <center><img (click)="stobosa()" src="assets/StoBoSa.png" /></center>
    <ion-card-header>
      <ion-card-title color="tertiary">Colors of StoBoSa, Benguet</ion-card-title>
    </ion-card-header>
    <div class="paragraph">
    <ion-card-content>
      Officially designated as the StoBoSa Hillside Homes Artwork, it is a community artwork designed by the Tam-awan Village group, and
      is a locally recognized tourist attraction in the town of La Trinidad, Benguet.
    </ion-card-content>
    </div>
    <div class="readmore">
      <ion-card-content>
        <ion-icon name="arrow-forward" style="width:25px;height:25px" (click)="stobosa()"></ion-icon>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
