<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="ncr"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Intramuros</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Intramuros.png">
    <div class="title"><h3><b>Intramuros, Manila</b></h3></div>
  </center>

    <p class="paragraph"> Present-day Intramuros comprises a centuries-old historic district, entirely surrounded by fortifications, that
    was considered at the time of the Spanish Empire to be the entire City of Manila. Other towns and arrabales (suburbs) located beyond
    the walls that are now districts of Manila were referred to as extramuros, Latin for "outside the walls", and were independent towns
    that were only incorporated into the city of Manila during the early 20th century. </p> <p class="paragraph"> The walled city was also considered the
    religious and educational center of the Spanish East Indies. The original campuses of the University of Santo Tomas, the oldest
    university in Asia, and the Ateneo de Manila, were in Intramuros before transferring in 1927 and 1932 respectively; today the area
    still contains the main campuses of the University of the City of Manila, the Colegio de San Juan de Letran, Mapúa University,
    Philippine Nautical Training Colleges, the Colegio de Santa Rosa, and the Manila High School. </p> <p class="paragraph"> Intramuros, including Fort
    Santiago, was designated a National Historical Landmark in 1951. The fortifications of Intramuros, under the name Fortifications of
    Manila, were declared National Cultural Treasures by the National Museum of the Philippines, owing to its historic and cultural
    significance. San Agustín Church, one of four UNESCO World Heritage Sites under the entry Baroque Churches of the Philippines, is
    located within Intramuros. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
