<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region2"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Batanes</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Batanes.png">
    <div class="title"><h3><b>Batanes</b></h3></div>
  </center>

    <p class="paragraph"> The island group is located approximately 162 kilometres north of the Luzon mainland and about 190 kilometres
    south of Taiwan, separated from the Babuyan Islands of Cagayan Province by the Balintang Channel, and from Taiwan by the Bashi
    Channel. <p class="paragraph"> The entire province is listed in the UNESCO tentative list for inscription in the World Heritage List. The government has
    been finalizing the site's inscription, establishing museums and conservation programs since 2001. </p> <p class="paragraph"> The province has a total area
    of 219.01 square kilometres comprising ten islands situated within the Luzon Strait between the Balintang Channel and Taiwan. The
    islands are sparsely populated and subject to frequent typhoons. </p> <p class="paragraph"> Almost one-half of Batanes is hills and mountains. The three largest islands, Batan, Itbayat, and Sabtang, are the only
    inhabited islands. </p> <p class="paragraph"> The natives are called Ivatans and share prehistoric cultural and linguistic commonalities with the Babuyan on
    Babuyan Island and the Tao people of Orchid Island (Taiwan). </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
