<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region1"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Hundred Islands National Park</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Hundred Islands.png">
    <div class="title"><h3><b>Hundred Islands, Pangasinan</b></h3></div>
  </center>

    <p class="paragraph"> The islands are scattered in Lingayen Gulf covering an area of 16.76 square kilometres. Only four of them have
    been developed for tourism: Marcos Island, Governor Island, Quezon Island, and Children's Island. </p> <p class="paragraph"> The islands are believed to be
    about two million years old. There are actually ancient corals that extend well inland, in an area previously comprising the seabed
    of an ancient sea. The lowering of the sea level have exposed them to the surface. The peculiar "mushroom-like" shapes of some of the
    islands were caused by the eroding action of ocean waves. </p> <p class="paragraph"> The wildlife in this place include bird such as the Philippine duck,
    white-eared brown-dove, Philippine hawk-cuckoo, Philippine coucal, Philippine bulbul, elegant tit, lemon-throated leaf-warbler, and
    the grey-backed tailorbird; fish such as thresher sharks, angelfish, and butterflyfish; and crustaceans such as ghost crabs and
    hermit crabs. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
