<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region2"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Cagua Volcano</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Cagua Volcano.png">
    <div class="title"><h3><b>Cagua Volcano, Cagayan</b></h3></div>
  </center>

    <p class="paragraph"> Cagua Volcano is a 1133 meter-high stratovolcano located in the
    northernmost part of the Sierra Madre mountain range. </p> <p class="paragraph"> It is one of the active volcanoes in the
    country and has erupted twice in recorded history. Its last eruption was in 1907. </p> <p class="paragraph"> The forested volcano is locally known as the
    "Mountain of Fire". </p> <p class="paragraph"> It has six hot springs: Maasok near the crater, Marafil, Manaring, San Jose, Kabinlangan, and Paminta. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
