<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region4b"></ion-back-button>
        </ion-buttons>
        <ion-title><center>El Nido</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Puerto Galera.png">
    <div class="title"><h3><b>El Nido, Palawan</b></h3></div>
  </center>

    <p class="paragraph"> El Nido is known for its stunning lagoons, white sand beaches, rocky islets, towering limestone cliffs, and
    glasslike waters teeming with marine life. The island has earned nothing but praises from visitors, and numerous accolades of being
    one the best island and beach destinations in the world. </p> <p class="paragraph"> It is situated in Bacuit Bay and covers a land area of 465.1 square kilometres. It is located in the
    northernmost tip of mainland Palawan. </p> <p class="paragraph"> It includes 45 islands and islets, each with its own unique geological formations.
    The highest peak is at Cadlao Island, towering up to 640 metres above sea level. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
