<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="cordillera"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Hanging Coffins of Sagada</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Hanging Coffins.png">
    <div class="title"><h3><b>Hanging Coffins of Sagada,<br>Mountain Province</b></h3></div>
  </center>

    <p class="paragraph"> The coffins have not been studied by archaeologists, so their exact age is unknown, though they are believed to
    be centuries old. They are placed underneath natural overhangs, either on natural rock shelves/crevices or on projecting beams
    slotted into holes dug into the cliff-side. </p> <p class="paragraph"> The coffins are small because the bodies inside the coffins are in a fetal position.
    This is due to the belief that people should leave the world in the same position as they entered it (a tradition common throughout
    the various pre-colonial cultures of the Philippines). The coffins are usually carved by their eventual occupants during their
    lifetimes. </p> <p class="paragraph"> Despite their popularity, hanging coffins are not the main funerary practice of the Kankanaey. It is reserved only
    for distinguished or honorable leaders of the community. They must have performed acts of merit, made wise decisions, and led
    traditional rituals during their lifetimes. The height at which their coffins are placed reflects their social status. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
