<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="tertiary"><center><b>Tri-GO!:<br>Tricycle on the GO!</b></center></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item><br>
          <ion-button color="tertiary" size="full" [disabled]="!form.valid" (click)="login()">Log In</ion-button>
          <center>Don't have an account?</center><ion-button color="tertiary" fill="clear" size="full" (click)="register()">Register</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
