<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region3"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Dambana ng Kagitingan</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Dambana ng Kagitingan.png">
    <div class="title"><h3><b>Dambana ng Kagitingan, Bataan</b></h3></div>
  </center>

    <p class="paragraph"> The memorial shrine complex was built to honor and remember the gallantry of Filipino and American soldiers who
    fought against the Imperial Japanese Army during World War II. Consisting of a colonnade and the large Memorial Cross, the park
    was commissioned in 1966 by then-President Ferdinand Marcos, for the 25th anniversary of World War II. </p> <p class="paragraph"> The white Memorial Cross
    stands as a remembrance to the soldiers who fought and lost their lives in the Battle of Bataan. The shrine complex also includes a
    war museum with a wide array of collections from paintings of the Philippine heroes, to armaments used by the Filipino, American and
    Japanese forces during the battle. </p> <p class="paragraph"> From the colonnade and the cross, there is a panoramic view of Bataan, Corregidor Island, and
    on a clear day, the city of Manila. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
