<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="ncr"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Malacañang Palace</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Malacanang Palace.png">
    <div class="title"><h3><b>Malacañang Palace, Manila</b></h3></div>
  </center>

    <p class="paragraph"> The term "Malacañang" is often used as a metonym for the president, their advisers, and the Office of the
    President of the Philippines. Among the presidents of the present Fifth Republic, only Gloria Macapagal
    Arroyo actually lived in the main palace as both office and her residence, with all others residing in nearby properties that form
    part of the larger palace complex. </p> <p class="paragraph"> The sprawling Malacañang Palace complex includes numerous mansions and office buildings designed
    and built largely in bahay na bato and neoclassical style. The original structure was built in 1750 by Don Luis Rocha, a Spaniard in
    the galleon trade, who built it as a summer house located in San Miguel, Paco, and Santa Ana along the Pasig River. </p> <p class="paragraph"> Use of the
    palace as official state residence of colonial rulers was continued after sovereignty over the islands was ceded to the United States
    in 1898. Since 1863, the palace has been occupied by eighteen Spanish governors-general, fourteen American military and civil
    governors, and later, the presidents of the Philippines. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
