<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region1"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Vigan City</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Vigan.png">
    <div class="title"><h3><b>Vigan, Ilocos Sur</b></h3></div>
  </center>

    <p class="paragraph"> Located on the western coast of the large island of Luzon, facing the West Philippine Sea, it is a UNESCO World
      Heritage Site and it is one of the few Spanish colonial towns left in the Philippines whose old structures have mostly remained
      intact, and it is well known for its sett pavements and a unique architecture of the Spanish Philippines colonial era which fuses
      Native Philippine and Oriental building designs and construction, with colonial Spanish architecture that is still abundant in the
      area, mainly the Bahay na Bato houses and an Earthquake Baroque church. </p> <p class="paragraph"> Former Philippine president, Elpidio Quirino, the sixth
      President of the Philippines, was born in Vigan, at the former location of the Provincial Jail (his father was a warden); he
      resided in the Syquia Mansion. The entire city of Vigan was later inscribed as a UNESCO World Heritage City after being declared
      as a UNESCO World Heritage Site. It is a member of the Organization of World Heritage Cities (OWHC). </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
