<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region4a"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Pagsanjan Falls</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Pagsanjan Falls.png">
    <div class="title"><h3><b>Pagsanjan Falls, Laguna</b></h3></div>
  </center>

    <p class="paragraph"> The falls is one of the major tourist attractions of the region. The three-drop waterfall is reached by a river
    trip on dugout canoe, known locally as "Shooting the rapids", originating from the municipality of Pagsanjan. The falls can also be
    reached from the top by a short hike from Cavinti. </p> <p class="paragraph"> The main falls are actually located within the territorial jurisdiction of
    Cavinti, Laguna, approximately 3.2 kilometers away from the boundaries of Cavinti and Pagsanjan, but the more popular access by
    canoes originates from the town of Pagsanjan. </p> <p class="paragraph"> The most popular way of reaching the falls is through the "Shooting the rapids" boat
    ride, which originates from any of the resorts along Bumbungan and Balanac Rivers. Two skilled and licensed boatmen takes one to
    three passengers on wooden or fiberglass, long, narrow canoes to the falls, which could take more than an hour of paddling upstream
    depending on traffic and water level. <p class="paragraph"> The journey takes passengers through the narrow and verdant Pagsanjan Gorge lined with huge
    boulders, rocks and small waterfalls. The ride upstream ends in a natural pool below the falls where an optional raft ride takes
    visitors through a curtain of cascading water to the Devil's cave behind the falls. The return trip called "Shooting the rapids" is a
    thrill ride through fourteen rapids as the skilled boatmen maneuvers the boat through the narrow rocks as it head downstream. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
