<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region5"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Subic Beach</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Subic Beach.png">
    <div class="title"><h3><b>Subic Beach, Sorsogon</b></h3></div>
  </center>

  <p class="paragraph"> Subic Beach is located in the town of Matnog in Sorsogon and is famous for its crystal clear waters and pinkish fine sand, drawing
  visitor from the region and around the country. </p> <p class="paragraph"> Subic Beach is divided into two segments. The locals call these appropriately: Subic Laki (Subic Big
  Beach) and Subic Liit (Subic Small Beach). </p> <p class="paragraph"> The sand is fine and when viewed from afar, it takes on a
  pinkish-white hue caused by the mixing of creamy white sand grains that are the particles of a deep red color produced by the crushing
  of red corals. Along with nearby Tikling Island, this pinkish sand is the unique trait of the islands in Matnog. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
