<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region3"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Subic Bay</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Subic Bay.png">
    <div class="title"><h3><b>Subic Bay</b></h3></div>
  </center>

    <p class="paragraph"> Its shores were formerly the site of a major United States Navy facility, U.S. Naval Base Subic Bay, converted into a beach town, now an
    industrial and commercial area known as the Subic Bay Freeport Zone. </p> <p class="paragraph"> Today, water as well as the towns and establishments surrounding
    the bay are collectively known as Subic Bay. </p> <p class="paragraph"> The bay is long recognized for its deep and protected waters, but developments were slow
    due to lack of level terrain around the bay. </p> <p class="paragraph"> Scuba diving is a very popular Subic tourist attraction. Subic Bay offers some of the
    world's best shipwrecks, all within recreational diving depths, as well as tranquil coral and artificial reefs that explode with
    marine life. </p>
</ion-content>

<ion-card (click)="subic2()">
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">1</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
