<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region5"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Mayon Volcano</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Mayon Volcano.png">
    <div class="title"><h3><b>Mayon Volcano, Albay</b></h3></div>
  </center>

  <p class="paragraph"> A popular tourist spot, it is renowned for its "perfect cone" because of its symmetric conical shape, and is
  regarded as very sacred in Philippine mythology. </p> <p class="paragraph"> The volcano with its surrounding landscape was declared a
  national park on July 20, 1938, the first in the nation. It was reclassified as a natural park and renamed the Mayon Volcano Natural
  Park in 2000 and is currently being nominated as a World Heritage Site. </p> <p class="paragraph"> Mayon is the most active volcano in
  the country, and its activity is regularly monitored by the Philippine Institute of Volcanology and Seismology (PHIVOLCS) from their
  provincial headquarters on Ligñon Hill, about 12 kilometers from the summit. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
