<ion-header>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="region2"></ion-back-button>
        </ion-buttons>
        <ion-title><center>Cape Engaño Lighthouse</center></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <img src="assets/Cape Engano Lighthouse.png">
    <div class="title"><h3><b>Cape Engaño Lighthouse, Cagayan</b></h3></div>
  </center>

    <p class="paragraph"> Faro de Cabo Engaño is one of the four lighthouses built during the Spanish colonial period, which served as
    gateway lighthouse for incoming ships. The construction started on 21 September 1888 and finished on 31 December 1892, wherein most
    of the laborers are Filipinos. </p> <p class="paragraph"> The Cape Engaño Lighthouse was, for generations, the home of the Jamorabon family. They also worked as
    lighthouse keepers. The complex used to shelter seven crew members tasked to maintain the lighthouse. </p> <p class="paragraph"> Nowadays, it
    is abandoned, and the provincial government of Cagayan is planning to restore the lighthouse into its original state. </p>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title><font color="black">Comments </font><font color="gray">0</font></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-textarea placeholder="Add a comment..." style="height:10px"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
